{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title> Sistema Web </title>
    <link rel="stylesheet" href="{% static 'plataforma/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'plataforma/css/cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'plataforma/css/reset.css' %}">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="{% static 'appProdutos/css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>
<div class="logo" style="padding-top: 20px">
    <img src="{% static 'plataforma/img/3b874e1bacfab0d586c5534cc0c9b637-blue-star-square-logo.png' %}"  height="50px">
</div>

{% block main_content %}

 <main>
    <section class="formulario-login">

            <div class="container">
                    <form class="login-form" method="POST" action="{% url 'produtos:home' %}"> {% csrf_token %}
                        <div class="col-md-8">
                            <h2 style="color: #fff;">Login</h2>
                            <div class="form-group">
                                <label for="email" style="color: #fff;">E-mail:</label>
                                <input type="email" class="form-control" id="email" placeholder="Digite seu e-mail" required>
                            </div>
                            <div class="form-group">
                                <label for="senha" style="color: #fff;">Senha:</label>
                                <input type="password" class="form-control" id="senha" placeholder="Digite sua senha" required>
                            </div>
                            <div class="form-group">
                            <button id="confrim" type="submit" class="btn btn-primary">Entrar</button>
                            <a type="submit" class="btn btn-primary" href="{% url 'plataforma:cadastro' %}">cadastre-se</a>
                            </div>
                            <box-icon name='lock-open-alt'></box-icon>
                            <a href="{% url 'plataforma:alterar_senha' %}"  style="color: white; text-decoration: none;">Esqueceu a senha ?</a>
                        </div>
                    </form>

                </div>
        </section>
    </main>
{% endblock %}

{% include 'plataforma/footer.html' %}
</div>



</body>
</html>