asgiref==3.7.2
colorama==0.4.6
coverage==7.4.3
Django==4.1.5
iniconfig==2.0.0
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
psycopg2==2.9.9
pytest==8.0.2
sqlparse==0.4.4
tzdata==2024.1
ua-parser==0.18.0
user-agents==2.2.0
