{% extends 'appProdutos/base.html' %}
{% load static %}

    ###Dash Analytics
    {% block active-dash_analytics-key_users %} data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-dash_analytics-key_users %} class="collapse submenu list-unstyled" {% endblock %}




    ###Alianca App
    {% block active-alianca_app-key_users %}data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-alianca_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}



    ###Manager App
    {% block active-manager_app-key_users %}data-active="true" data-toggle="collapse" aria-expanded="true" {% endblock %}
    {% block show-manager_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}
    {% block active_manager_app-key_users %} active {% endblock %}




    {% block stored_structures-key_users %} color:#4361ee {% endblock %}
{% block main_content %}



<p align="center"> Cadastro de produto </p>
<hr color="black">

<form method="POST" action="{% url 'produtos:cadastrar' %}">

    {% csrf_token %}
    {{ form.codigo }}

    <div class="form-group row">
        <label for="id_nome" class="col-sm-10"> {{ form.nome.label }}</label>
        <div class="col-sm-3">
            {{ form.nome }}
        </div>
    </div>

    <div class="form-group row">
        <label for="id_nome" class="col-sm-10"> {{ form.preco.label}}</label>
        <div class="col-sm-3">
            {{form.preco}}
        </div>
    </div>

    <div class="form-group row">
        <label for="id_nome" class="col-sm-10"> {{ form.quantidade.label }}</label>
        <div class="col-sm-3">
            {{form.quantidade}}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-10"></label>
        <div class="col-sm-6">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>

    </div>

</form>

{% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{ message }}</div>
    {% endfor %}
{% endif %}

<hr style="border-color:blanchedalmond">
{% endblock %}

