
<footer class="page-footer">
        <div class="container" >
          <div>
            <div class="col l6 s12">
              <h5 class="white-text" align="center">Django Framework</h5>
              <p class="grey-text text-lighten-4" align="center">Python Web</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright" align="center">
          <div class="container">
          © 2023 Copyright Thiago Alves
          <a class="grey-text text-lighten-4 right" href="https://github.com/thiago-ndev"> GitHub</a>
          </div>
        </div>
      </footer>
          