<div class="header">

    <div class="titulo">
             <h2> Controle de estoque de produtos </h2>
    </div>

    <div class="menu">

         <a href="{% url 'produtos:home' %}" class="btn btn-primary"> Home </a> &nbsp;
         <a href="{% url 'produtos:cadastro' %}" class="btn btn-primary"> Cadastro </a> &nbsp;
         <a href="{% url 'produtos:busca' %}" class="btn btn-primary"> Busca </a> &nbsp;
         <a href="{% url 'produtos:lista' %}" class="btn btn-primary"> Lista </a> &nbsp;
    </div>

</div>