{% extends 'appProdutos/base.html' %}
{% load static %}

###Dash Analytics
    {% block active-dash_analytics-key_users %} data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-dash_analytics-key_users %} class="collapse submenu list-unstyled" {% endblock %}




    ###Alianca App
    {% block active-alianca_app-key_users %}data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-alianca_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}



    ###Manager App
    {% block active-manager_app-key_users %}data-active="true" data-toggle="collapse" aria-expanded="true" {% endblock %}
    {% block show-manager_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}
    {% block active_manager_app-key_users %} active {% endblock %}




    {% block stored_structures-key_users %} color:#4361ee {% endblock %}

{% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% block main_content %}

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1> Boas vindas ! </h1>
      </div>
    </div>
  </div>

{% endblock %}

