{% extends 'appProdutos/base.html' %}

###Dash Analytics
    {% block active-dash_analytics-key_users %} data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-dash_analytics-key_users %} class="collapse submenu list-unstyled" {% endblock %}




    ###Alianca App
    {% block active-alianca_app-key_users %}data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-alianca_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}



    ###Manager App
    {% block active-manager_app-key_users %}data-active="true" data-toggle="collapse" aria-expanded="true" {% endblock %}
    {% block show-manager_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}
    {% block active_manager_app-key_users %} active {% endblock %}




    {% block stored_structures-key_users %} color:#4361ee {% endblock %}

{% block main_content %}

<p align="center"> Cadastro de Clientes </p>
<hr color="black">

<form method="POST" action="{% url 'clientes:cadastrar' %}" row="center">

    {% csrf_token %}
    {{ form_cliente.codigo }}
    
    <div class="form-group row">
        <label for="id_nome" class="col-sm-0"> {{ form_cliente.nome.label }}</label>
        <div class="col-sm-3">
            {{ form_cliente.nome }}
        </div>
        <label for="id_name" class="col-sm-0"> {{form_endereco.cidade.label}}</label>
        <div class="col-sm-3">
            {{form_endereco.cidade }}
        </div>
    </div>


    <div class="form-group row">
        <label for="id_nome" class="col-sm-0"> {{ form_cliente.email.label}}</label>
        <div class="col-sm-3">
            {{form_cliente.email}} 
        </div>
        <label for="id_name" class="col-sm-0">{{form_endereco.bairro.label}}</label>
        <div class="col-sm-3">
            {{form_endereco.bairro}}
        </div>
    </div>

    <div class="form-group row">
        <label for="id_nome" class="col-sm-0"> {{ form_cliente.senha.label }}</label>
        <div class="col-sm-3">
            <div class="input-group-append">
            {{form_cliente.senha}}
            </div>
        </div>
        <label for="id_name" class="col-sm-0">{{form_endereco.numero.label}}</label>
        <div class="col-sm-1">
             {{form_endereco.numero}}
        </div>
    </div>

    <div class="form-group row">
        <label for="id_nome" class="col-sm-0"> {{ form_cliente.data_Nasc.label }}</label>
        <div class="col-sm-3">
            {{form_cliente.data_Nasc}}
        </div>
        <label for="id_name" class="col-sm-0"> {{form_endereco.rua.label}}</label>
        <div class="col-sm-1">
            {{form_endereco.rua}}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-10"></label>
        <div class="col-sm-6">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
        </div>

    </div>

</form>

{% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">{{ message }}</div>
    {% endfor %}
{% endif %}

<hr style="border-color:blanchedalmond">
{% endblock %}
