form {
  background-color: #1e1e4f;
  width: 100;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(136, 113, 113, 0.3);
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  color: #555;
  margin-top: 5px;
  background-color: #fff;
}

button[type="submit"] {
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
    padding: 10px;
  }
}